
* {
    box-sizing: border-box;
}

#titulo {/* estilos cabezera*/
    text-align: center;
    font-family: Georgia; 
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

#menu-horizontal {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu-horizontal li {
    display: inline-block;
    margin-right: 20px;
}

#menu-horizontal li a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    position: relative;
}

#menu-horizontal li a::before {
    content: "\f005";
    font-family: FontAwesome;
    color: gold;
}

#menu-horizontal li a:hover {
    color: purple;
}

.proyecto {
    background-color: white;
    display: inline-block;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
}

.proyecto img {
    width: 100%;
    margin: 20px 0;
    transition: opacity 0.3s;
}

.proyecto img:hover {
    opacity: 0.5;
}

.destacado {
    background-color: yellow;
}

.proyecto:nth-child(3n) {
    background-color: lightgray;
}

.formulario {
    max-width: 90%;
    max-width: 600px !important; /* Sobreescribe el estilo */
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.formulario input[type="email"],
.formulario textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
}

.formulario input[type="email"] {
    border-color: green;
}

.formulario textarea:focus {
    outline: 2px solid blue;
}

.formulario button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #555;
}

footer {
    background: url('recursos/texture.jpg') no-repeat center center;
    background-size: cover;
    height: 100px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer #secreto {
    display: none;
}

footer p {
    margin: 0;
    color: white;
}

footer a.boton-subir {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

footer a.boton-subir:hover {
    background-color: #555;
}

footer a {
    text-decoration: underline;
    text-decoration-color: red;
}